export("plotseries")
S3method("plotseries", "default")
S3method("plotseries", "zoo")


importFrom("stats",
           "median", "quantile")

importFrom("grDevices",
           "grey")

importFrom("graphics",
           "abline", "axTicks", "axis", "axis.Date",
           "lines", "par", "plot", "text", "mtext", "polygon")

importFrom("utils",
           "tail", "head")

importFrom("PMwR",
           "returns", "scale1", "streaks")

importFrom("zoo",
           "index", "coredata", "na.locf",
           "as.Date.yearmon", "as.Date.yearqtr")

importFrom("datetimeutils", "first_of_year")

